/* navbar styling */
.navbar-container {
	height: 8rem;
	width: 100%;
}

.navbar {
	padding-top: 1rem;
	font-size: 1.8rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navbar__lists {
	list-style: none;
	display: flex;
}

.navbar__lists--item {
	margin-right: 5rem;
}
.navbar__lists--item a {
	text-decoration: none;
	color: #000;
}

.navbar__logo,
.navbar__icon {
	padding: 1rem 0;
	cursor: pointer;
}
.navbar__icon {
	position: relative;
}
.navbar__icon span {
	font-size: 2.5rem;
	color: #000;
}

.basket-num {
	background-color: red;
	border-radius: 50%;
	color: #fff;
	width: 2rem;
	height: 2rem;
	text-align: center;
	position: absolute;
	bottom: 3rem;
	left: 2rem;
}

.basket-num.hide {
	display: none;
}
